<html lang="en">
    <head><meta charset="utf-8">
        <title>Form</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-light" style="background-color: powderblue;">
            <a class="navbar-brand"  href="/">Home</a>
            <a class="nav-item nav-link" style="text-align: right" href="/logout">Logout</a>
        </nav>
        <div class="container" style="margin: 20px;">
            <div class="card">
                <h5 class="card-header">{{title}}</h5>
                <div class="card-body">
                    <form method="post" action="/{{action}}/">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" class="btn btn-primary" value="Send" />
                    </form>
                </div>
            </div>
        </div>

        <script data-req="{{requests}}">
            reqs = document.currentScript.getAttribute('data-req').split('\n');
            // CREATE OPTIONS FOR SELECT
            document.getElementById("id_request").setAttribute("class","form-select");
            for (var i = 0; i < reqs.length; i++) {
                var option = document.createElement("option");
                option.setAttribute("value", reqs[i]);
                option.innerHTML = reqs[i];
                document.getElementById("id_request").appendChild(option);
            }
            
        </script>
    </body>
</html>