
{% extends "base.html" %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12" id="req">
                <div class="card">
                    <h5 class="card-header">Requests</h5>
                    <div class="card-body">
                        <table class="table" >
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">Req ID</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <script data-req="{{result}}">

        var req = document.currentScript.getAttribute('data-req');
        console.log(req);

        if (req != ""){
            req = JSON.parse(req.replaceAll('\'','\"')); 
        }

        if (req[0] == "No requests found"){
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.setAttribute("colspan", "2");
            td.innerHTML = "No requests found";
            tr.appendChild(td);
            document.getElementById("tbody").appendChild(tr);
        } else {
            for (var i = 0; i < req.length; i++) {
                var tr = document.createElement("tr");
                var td_id = document.createElement("td");
                td_id.innerHTML = req[i];
                var td_btn = document.createElement("td");
                var btn = document.createElement("button");
                btn.setAttribute("class", "btn btn-primary");
                btn.setAttribute("onclick", "window.location.href='/get_request_post/?id="+req[i]+"'");
                btn.innerHTML = "View";
                td_btn.appendChild(btn);
                tr.appendChild(td_id);
                tr.appendChild(td_btn);
                document.getElementById("tbody").appendChild(tr);
            }
        }

        
    
    </script>
{%endblock%}