
{% extends "base.html" %}
{% block content %}
        <div class="container container-fluid mt-3">
            <div class="row">
                <div class="col-md-12" >
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header bg-info">
                            <h3>{{title}}</h3>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/{{action}}/">
                                {% csrf_token %}
                                {{form.as_p}}
                                <input type="submit" class="btn btn-primary" value="Send" />
                            </form>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <script data-reqid="{{req_id}}" data-maid="{{ma_id}}" data-pickitem="{{pickitem}}">
            var reqid = document.currentScript.getAttribute('data-reqid');
            var maid = document.currentScript.getAttribute('data-maid');
            var pickitem = document.currentScript.getAttribute('data-pickitem');
            if (reqid != ""){
                document.getElementById("id_request").value = reqid;
                document.getElementById("id_request").setAttribute("readonly", true);
            }
            if (maid != ""){
                document.getElementById("id_markavailable").value = maid;
                document.getElementById("id_markavailable").setAttribute("readonly", true);
            }
            if (pickitem != ""){
                document.getElementById("id_item").value = pickitem;
                document.getElementById("id_item").setAttribute("readonly", true);
            }
        var map = document.createElement("div");
        map.setAttribute("id", "map");
        map.setAttribute("style", "width: 600px; height: 400px; margin-top: 10px;");
        document.getElementById("id_longitude").after(map);
        document.querySelectorAll("input").forEach(e => e.classList.add("form-control"))
        document.querySelectorAll("textarea").forEach(e => e.classList.add("form-control"))
        document.querySelectorAll("select").forEach(e => e.classList.add("form-control"))
        document.querySelector("#id_latitude").setAttribute("readonly","true")
        document.querySelector("#id_longitude").setAttribute("readonly","true")
        </script>
    <script>
        // Initialize the map
        var map = L.map('map').setView([39.89178919874682, 32.78354912996293], 13);
        var marker;
        // Create a tile layer for the map
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
          maxZoom: 18,
        }).addTo(map);
      
        // Initialize the location selector input
        function onMapClick(e) {
        var lat = e.latlng.lat;
        var lng = e.latlng.lng;
        document.getElementById("id_latitude").value = lat;
        document.getElementById("id_longitude").value = lng;
        if (marker) {
            map.removeLayer(marker);
        }

        // Create a new marker and add it to the map
        marker = L.marker([lat, lng]).addTo(map);
        // You can perform further actions with the obtained coordinates here
        }

        map.on('click', onMapClick);

      </script>
{%endblock%}