
{% extends "base.html" %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6" id="req">
                <div class="card text-white bg-dark" style="height: 100%;">
                    <h5 class="card-header bg-info">Request Info</h5>
                    <div class="card-body">
                        <table class="table text-white" >
                            <tbody>
                                <tr>
                                    <td>Owner</td>
                                    <td id="td-owner"></td>
                                </tr>
                                <tr>
                                    <td>Urgency</td>
                                    <td id="td-urgency"></td>
                                </tr>
                                <tr>
                                    <td>Items</td>
                                    <td>
                                        <ul id="ul-items">
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td id="td-status"></td>
                                </tr>
                                <tr>
                                    <td>Comments</td>
                                    <td id="td-comments"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <button class="btn btn-secondary" data-toggle="collapse" data-target="#collapseItem" role="button">Raw Data</button>
                                        <div id="collapseItem" class="collapse" style="margin-top: 5px;"></div>
                                    </td>
                                </tr>
                            </tbody>
                          </table>
                    </div>
                </div>

                  
            </div>
            
            <div class="col-md-6" id="col-map">
                <div class="card text-white bg-dark">
                    <h5 class="card-header bg-info"></h5>
                    <div class="card-body">
                        <div id="map" style="height: 400px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card text-white bg-dark">
                    <div class="card-header bg-info" style="text-align: center;">
                        <h5>Available Supplies</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table text-white" >
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Item</th>
                                        <th scope="col">Supplier</th>
                                        <th scope="col">Expire</th>
                                        <th scope="col">Geoloc</th>
                                        <th scope="col">Comments</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody id="availibility-table">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card text-white bg-dark">
                    <div class="card-header bg-info" style="text-align: center;">
                        <h5>On Route</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table text-white" >
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Item</th>
                                        <th scope="col">Supplier</th>
                                        <th scope="col">Expire</th>
                                        <th scope="col">Geoloc</th>
                                        <th scope="col">Comments</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody id="onroute-table">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>          
    </div>
    <script data-req="{{result}}" data-id="{{req_id}}" data-token="{{token}}">

        var req = document.currentScript.getAttribute('data-req');
        var req_id = document.currentScript.getAttribute('data-id');
        var token = document.currentScript.getAttribute('data-token');
        
        if (req != ""){
            req = JSON.parse(req.replaceAll('\'','').replaceAll("\\","")); 
        }
/*
{
    "owner": "bob",
    "items": [
        {
            "item": {
                "name": "limon",
                "synonyms": []
            },
            "amount": 2
        },
        {
            "item": {
                "name": "elma",
                "synonyms": []
            },
            "amount": 4
        }
    ],
    "geoloc": [
        48.98,
        36.21
    ],
    "urgency": "URGENT",
    "comments": "dsfd",
    "status": "OPEN",
    "availibility": [],
    "onroute": []
}
*/
        document.getElementById("collapseItem").innerHTML = JSON.stringify(req, null, 2);

        document.getElementById("td-owner").innerHTML = req["owner"];
        document.getElementById("td-urgency").innerHTML = req["urgency"];
        document.getElementById("td-comments").innerHTML = req["comments"];
        document.getElementById("td-status").innerHTML = req["status"];
        for (var i = 0; i < req["items"].length; i++){
            document.getElementById("ul-items").innerHTML += `<li>${req["items"][i]["item"]["name"]} (${req["items"][i]["amount"]})</li>`;
        }
        if (req["status"] != "CLOSED" && !token.includes(req.owner)){
            var button = document.createElement("button");
            button.setAttribute("class", "btn btn-primary");
            button.setAttribute("onclick", "addMarkAvailable()");
            button.setAttribute("role", "button");
            button.innerHTML = "Mark Available";
            document.getElementById("collapseItem").after(button);
        }
        for (var i = 0; i < req["availibility"].length; i++){
            var tr = document.createElement("tr");
            var td_id = document.createElement("td");
            var td_item = document.createElement("td");
            var td_supplier = document.createElement("td");
            var td_expire = document.createElement("td");
            var td_geoloc = document.createElement("td");
            var td_comments = document.createElement("td");
            var td_button = document.createElement("td");
            td_id.innerHTML = req["availibility"][i]["ma_id"];
            td_item.innerHTML = `${req["availibility"][i]["item"]}(${req["availibility"][i]["amount"]})`;
            td_supplier.innerHTML = req["availibility"][i]["supplier"];
            td_expire.innerHTML = req["availibility"][i]["expire"];
            td_geoloc.innerHTML = req["availibility"][i]["geoloc"];
            td_comments.innerHTML = req["availibility"][i]["comments"];
            tr.appendChild(td_id);
            tr.appendChild(td_item);
            tr.appendChild(td_supplier);
            tr.appendChild(td_expire);
            tr.appendChild(td_geoloc);
            tr.appendChild(td_comments);
            var realexpire = new Date(req["availibility"][i]["expire"]);

            if (token.includes(req.owner)){
                if (req["status"] != "CLOSED" && realexpire >= new Date()){
                    var button = document.createElement("button");
                    button.setAttribute("class", "btn btn-primary");
                    button.setAttribute("onclick", `addOnRoute(${req["availibility"][i]["id"]})`);
                    button.setAttribute("onclick", "window.location.href='/pick/?req_id="+req_id+"&ma_id="+req["availibility"][i]["ma_id"]+"&item="+req["availibility"][i]["item"]+"'");
                    button.innerHTML = "Select";
                    td_button.appendChild(button);
                } else {
                    var button = document.createElement("button");
                    button.setAttribute("class", "btn btn-outline-danger");
                    button.innerHTML = req["status"] != "CLOSED" ? "Expired" : "Closed";
                    td_button.appendChild(button);
                }
                tr.appendChild(td_button);
            }
            if (realexpire < new Date()){
                tr.setAttribute("class", "table-danger");
            }
            document.getElementById("availibility-table").appendChild(tr);
        }

        for (var i = 0; i < req["onroute"].length; i++){
            var tr = document.createElement("tr");
            var td_id = document.createElement("td");
            var td_item = document.createElement("td");
            var td_supplier = document.createElement("td");
            var td_expire = document.createElement("td");
            var td_geoloc = document.createElement("td");
            var td_comments = document.createElement("td");
            var td_button = document.createElement("td");
            td_id.innerHTML = req["onroute"][i]["ma_id"];
            td_item.innerHTML = `${req["onroute"][i]["item"]}(${req["onroute"][i]["amount"]})`;
            td_supplier.innerHTML = req["onroute"][i]["supplier"];
            td_expire.innerHTML = req["onroute"][i]["expire"];
            td_geoloc.innerHTML = req["onroute"][i]["geoloc"];
            td_comments.innerHTML = req["onroute"][i]["comments"];
            tr.appendChild(td_id);
            tr.appendChild(td_item);
            tr.appendChild(td_supplier);
            tr.appendChild(td_expire);
            tr.appendChild(td_geoloc);
            tr.appendChild(td_comments);

            var realexpire = new Date(req["onroute"][i]["expire"]);

            if (token.includes(req["onroute"][0].supplier)){
                if (req["status"] != "CLOSED" && realexpire >= new Date()){
                    var button = document.createElement("button");
                    button.setAttribute("class", "btn btn-success");
                    button.setAttribute("onclick", "window.location.href='/arrived/?req_id="+req_id+"&ma_id="+req["onroute"][i]["ma_id"]+"'");
                    button.innerHTML = "Arrive";
                    td_button.appendChild(button);
                }else{
                    var button = document.createElement("button");
                    button.setAttribute("class", "btn btn-outline-danger");
                    button.innerHTML = req["status"] != "CLOSED" ? "Expired" : "Closed";
                    td_button.appendChild(button);
                }
                tr.appendChild(td_button);
            }

            if (realexpire < new Date()){
                tr.setAttribute("class", "table-danger");
            }
            document.getElementById("onroute-table").appendChild(tr);
        }

        var greenIcon = new L.Icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });


        var violetIcon = new L.Icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-violet.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        const map = L.map('map').setView([req["geoloc"][0], req["geoloc"][1]], 13);
        var marker = L.marker([req["geoloc"][0], req["geoloc"][1]]).addTo(map).bindPopup('Request Location');
    
        const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        
        req.availibility.forEach((e) => {
            L.marker([e["geoloc"][0], e["geoloc"][1]],{icon: greenIcon}).addTo(map).bindPopup('Supplier: '+e.supplier);
        })

        req.onroute.forEach((e) => {
            L.marker([e["geoloc"][0], e["geoloc"][1]],{icon: violetIcon}).addTo(map).bindPopup('Onroute: '+e.supplier);
        })


        function addMarkAvailable(){
            window.location.href = "/mark_available/?req_id="+req_id;
        }
    </script>
{%endblock%}
