
{% extends "base.html" %}
{% block content %}
        <div class="container container-fluid mt-3">
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header bg-info">
                            <h1>{{title}}</h1>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/{{action}}/">
                                {% csrf_token %}
                                {{form.as_p}}
                                <input type="submit" class="btn btn-primary" value="Send" />
                            </form>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <script data-ids="{{watches}}">
            var req = document.currentScript.getAttribute('data-ids');
            req = JSON.parse(req.replaceAll("\'","\"")).values
            for (var i = 0; i < req.length; i++) {
                var option = document.createElement("option");
                option.setAttribute("value", req[i]);
                option.innerHTML = req[i];
                document.getElementById("id_watch").appendChild(option);
            }
            document.querySelectorAll("input").forEach(e => e.classList.add("form-control"))
            document.querySelectorAll("select").forEach(e => e.classList.add("form-control"))
        </script>
{%endblock%}