
{% extends "base.html" %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12" id="req">
                <div class="card">
                    <h5 class="card-header">Add Request</h5>
                    <div class="card-body">
                        <form method="post" action="/{{action}}/" id="form">
                            {% csrf_token %}
                            
                            <label for="">Items</label>
                            <input type="number" name="item_count" id="item_count" value="0" hidden>
                            <button type="button" class="btn btn-primary" onclick="add_item()">Add Item</button><br>
                            {{form.as_p}}
                            <input id="submitBtn" class="btn btn-primary" type="submit" value="Send" />
                        </form>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <script data-req="{{requests}}">

        var req = document.currentScript.getAttribute('data-req');
        if (req != ""){
            req = JSON.parse(req.replaceAll('\'','\"')); 
        }
        for (var i = 0; i < req.length; i++) {
            var option = document.createElement("option");
            option.setAttribute("value", req[i]);
            option.innerHTML = req[i];
            document.getElementById("id_request").appendChild(option);
        }
        
        item_count = 0;
        function add_item() {
            item_count++;
            var row = document.createElement("div");
            row.setAttribute("class", "form-row");
            var col_i = document.createElement("div");
            col_i.setAttribute("class", "form-group col-md-6");
            var col_a = document.createElement("div");
            col_a.setAttribute("class", "form-group col-md-6");
            var item = document.createElement("input");
            item.setAttribute("type", "text");
            item.setAttribute("name", "item" + item_count);
            item.setAttribute("id", "item" + item_count);
            item.setAttribute("placeholder", "Item " + item_count);
            item.setAttribute("class", "form-control");
            item.setAttribute("required", "true");
            var amount = document.createElement("input");
            amount.setAttribute("type", "number");
            amount.setAttribute("name", "amount" + item_count);
            amount.setAttribute("id", "amount" + item_count);
            amount.setAttribute("placeholder", "Amount " + item_count);
            amount.setAttribute("class", "form-control");
            amount.setAttribute("required", "true");
            col_i.appendChild(item);
            col_a.appendChild(amount);
            row.appendChild(col_i);
            row.appendChild(col_a);
            document.getElementById("item_count").before(row);
            //document.getElementById("item_count").before(item)
            //document.getElementById("item_count").before(amount)
            //document.getElementById("item_count").before(document.createElement("br"))
            document.getElementById("item_count").setAttribute("value", item_count);
            
        }
        add_item();
        var map = document.createElement("div");
        map.setAttribute("id", "map");
        map.setAttribute("style", "width: 600px; height: 400px; margin-top: 10px;");
        document.getElementById("id_longitude").after(map);
        document.querySelectorAll("input").forEach(e => e.classList.add("form-control"))
        document.querySelectorAll("textarea").forEach(e => e.classList.add("form-control"))
        document.querySelectorAll("select").forEach(e => e.classList.add("form-control"))
        document.querySelector("#id_latitude").setAttribute("readonly","true")
        document.querySelector("#id_longitude").setAttribute("readonly","true")
        
    
    </script>
    <script>
        // Initialize the map
        var map = L.map('map').setView([39.89178919874682, 32.78354912996293], 13);
        var marker;
        // Create a tile layer for the map
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
          maxZoom: 18,
        }).addTo(map);
      
        // Initialize the location selector input
        function onMapClick(e) {
        var lat = e.latlng.lat;
        var lng = e.latlng.lng;
        document.getElementById("id_latitude").value = lat;
        document.getElementById("id_longitude").value = lng;
        if (marker) {
            map.removeLayer(marker);
        }

        // Create a new marker and add it to the map
        marker = L.marker([lat, lng]).addTo(map);
        // You can perform further actions with the obtained coordinates here
        }

        map.on('click', onMapClick);

      </script>
{%endblock%}