
{% extends "base.html" %}
{% block content %}
        <div class="container container-fluid mt-3">
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header bg-info">
                            <h1>{{title}}</h1>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/{{action}}/">
                                {% csrf_token %}
                                {{form.as_p}}
                                <input type="submit" class="btn btn-primary" value="Select" />
                            </form>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <script data-req="{{result}}">

            var req = document.currentScript.getAttribute('data-req');
            data = JSON.parse(req.replaceAll("\'",""))
            data = data[0].values


            for (var i = 0; i < data.length; i++) {
                var input = document.createElement("option");
                input.setAttribute("value", data[i].name);
                input.innerHTML = data[i].name;
                document.getElementById("id_name").appendChild(input);
            }


            document.querySelectorAll("input").forEach(e => e.classList.add("form-control"))
            document.querySelectorAll("select").forEach(e => e.classList.add("form-control"))
        </script>
{%endblock%}