<html lang="en">
    <head>
        <title>Log In</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    </head>
    <body>
        
        <section class="h-100 gradient-form" style="background-color: #eee;">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-6">
                  <div class="card text-white bg-dark rounded-3 text-black">
                    <div class="row g-0">
                      <div class="col-lg-12">
                        <div class="card-body p-md-5 mx-md-4">
          
                          <div class="text-center">
                            <a href="/">
                              <img src="https://tanitim.ceng.metu.edu.tr/images/ceng_400x400.png"
                                style="width: 185px;" alt="logo">
                            </a>
                            <h4 class="mt-1 mb-5 pb-1">Aid Delivery System</h4>
                          </div>

                          <div class="text-center pt-1 mb-5 pb-1">
                            <h5 >
                                You've successfully registered.<br>Please login to your account.
                            </h5>
                        </div>
                          
                          <div class="text-center pt-1 mb-5 pb-1">
                            <a class="btn btn-outline-success btn-block fa-lg gradient-custom-2 mb-3" type="submit" href="/login" >Login</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
          

    </body>
</html>