<!DOCTYPE html>
<html lang="en">
    <head><meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- Leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
        <!-- Simple Notify -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/home">
            <img src="https://tanitim.ceng.metu.edu.tr/images/ceng_400x400.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Aid Delivery System
          </a>
        <a class="btn btn-outline-info my-2 my-sm-0" style="text-align: right" href="/logout">Logout</a>
    </nav>
{% block content %}{% endblock %}
<script data-token="{{request.session.token}}">
    var token = document.currentScript.getAttribute('data-token');
    function pushNotify(data) {
        myNotify = new Notify({
            status: data.type,
            title: data.type == 'success' ? 'Watch Called' : 'Notification',
            text: `${data.request}`,
            effect: 'slide',
            type: 2,
            autoclose: data.type == 'success' ? false : true,
        })
    }

    class Ws {
        constructor(ipport){
            this.socket = undefined;
            this.ipport = ipport;
            this.createwebsocket();
        }
        createwebsocket() {
            if (this.socket) {
                this.socket.close();
            }
            var socket = new WebSocket('ws://' + this.ipport);
            socket.onopen = function() {
                console.log('Connection established');
			}
			socket.onerror = function() {
                console.log('Connection error');
			}
			socket.onclose = function() {
                console.log('Connection closed');
				ws.socket = undefined;
				setTimeout(() => { 
					if (! ws.socket ) {
						ws.createwebsocket();
					} }, 5000);
			}
            socket.onmessage = function wseventhandler (event) {
                var data = JSON.parse(event.data)
                if (data.token == token){
                    pushNotify({type: 'success',request: data.request});

                }
			}
			this.socket = socket
        }
    }

    window.onload = () => {ws = new Ws('127.0.0.1:1999')}
    window.onbeforeunload = () => {ws.socket.close()}

</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>