<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <h1>Items</h1>
        <ul>
            <li><a href="/search_item">Search Item</a></li>
            <li><a href="/get_all_items">Get All Items</a></li>
            <li><a href="/update_item">Update Item</a></li>
            <li><a href="/delete_item">Delete Item</a></li>
        </ul>
        <h1>Campaign</h1>
        <ul>
            <li><a href="/create_campaign">Create Campaign</a></li>
            <li><a href="/add_request">Add Request</a></li>
            <li><a href="/get_request">Get Request</a></li>
            <li><a href="/update_request">Update Request</a></li>
            <li><a href="/remove_request">Remove Request</a></li>
            <li><a href="/query">Query</a></li>
            <li><a href="/watch">Watch</a></li>
            <li><a href="/unwatch">Unwatch</a></li>
        </ul>
        <h1>Request</h1>
        <ul>
            <li><a href="/mark_available">Mark Available</a></li>
            <li><a href="/pick">Pick</a></li>
            <li><a href="/arrived">Arrived</a></li>
        </ul>
    </body>
</html>